.customerlogin {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    margin-top: 10%;
}

.customerlogin .container {
    text-align: center;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.customerlogin .container img {
    width: 50px;
    margin-bottom: 20px;
}

.customerlogin .container h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.customerlogin .container h2 {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 20px;
}

.customerlogin .container a {
    color: #4a90e2;
    text-decoration: none;
}

.customerlogin .container a:hover {
    text-decoration: underline;
}

.customerlogin .container input[type="email"],
.customerlogin .container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.customerlogin .container input[type="checkbox"] {
    margin-right: 10px;
}

.customerlogin .container .remember-me {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.customerlogin .container button {
    background-color: #4a90e2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.customerlogin .container button:hover {
    background-color: #357ab8;
}



.customer {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 2%;
}

.customer .container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 700px;
}

.customer h1 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.customer p {
    text-align: center;
    margin-bottom: 20px;
}

.customer p a {
    color: #3b49df;
    text-decoration: none;
}

.customer label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.customer input[type="text"],
.customer input[type="email"],
.customer input[type="password"],
.customer input[type="number"] ,
.customer input[type="date"] 
{
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.customer .checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.customer select {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    font-size: 16px;
    appearance: none; /* Removes default arrow icon in some browsers */
}

.customer select:focus {
    border-color: #80bdff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.customer select option {
    color: #333;
    background-color: #fff;
}


.customer .checkbox-container input {
    margin-right: 10px;
}

.customer .checkbox-container a {
    color: #3b49df;
    text-decoration: none;
}

.customer button {
    width: 100%;
    padding: 10px;
    background-color: #3b49df;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.customer button:hover {
    background-color: #2c3e9f;
}
.custom-toast-container {
    font-family: 'Roboto', sans-serif;
    width: 20%;
  }
  
  .custom-toast .Toastify__close-button {
    font-size: 1px; 
    padding: 1%; 
    width: 20%;
  }
  
  .password-strength {
    font-size: 14px;
    font-weight: bold;
  }
  
  .password-strength.weak {
    color: red;
  }
  
  .password-strength.moderate {
    color: orange;
  }
  
  .password-strength.strong {
    color: green;
  }