/* Sidebar and content layout */
.customer-container {
    display: grid;
    height: 100vh;
    overflow: hidden;
    margin-top: 0%;
  }
  

  
  
  .customercontent {
    padding: 20px;
    margin-left:14.9%;
    overflow-y: auto; 
    font-family: 'Roboto', sans-serif;
    background:linear-gradient(135deg, #ffedd5, #fffbf0);
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
  }
  



.customerprofile-container {
    background: linear-gradient(135deg, #ffedd5, #fffbf0);
    border-radius: 8px;
    padding: 2%;
    width: 90%;
    text-align: center;
    justify-self: center;
    margin-top: 2%;
    margin-left:-2%;
}

.customerprofile-header {
    margin-bottom: 20px;
}

.customerprofile-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.customerprofile-name {
    font-size: 30px;
    font-weight: 700;
    color: #333;
}

.customerprofile-username {
    font-size: 20px;
    color: #888;
}

.customerprofile-section {
    text-align: left;
    margin-top: 20px;
}

.customerprofile-section h2 {
    font-size: 24px;
    color: #555;
    margin-bottom: 10px;
    border-bottom: 2px solid #ff7e5f;
    display: inline-block;
    padding-bottom: 5px;
}

.customerprofile-section p {
    font-size: 20px;
    line-height: 1.6;
    margin: 5px 0;
}

.customerprofile-section a {
    color: #007bff;
    text-decoration: none;
}

.customerprofile-section a:hover {
    text-decoration: underline;
}

  
  